@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

:root {
    --foreground: #e7c38dde;
    --background: #f5d7e3de;
    --pinkbg: #f4a7b9;
    --htext: #000000;

    --header-font: "Aladin", cursive;
    --paragraph-font: "Lexend", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --pinkbg: var(--pinkbg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #f5d7e3de;
        --foreground: #e7c38dde;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--ptext);
    box-shadow: var(--htext) 0px 0px 1px 1px;
    text-decoration: none;
    border-radius: 50px;
    padding: 12px 24px;
    background-color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}
h2 {
    font-size: 2rem;
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
}

hr {
    border: none;
    height: 2px;
    background-color: var(--htext);
    margin: 10px 0;
    width: 100vw;
}
@media (prefers-color-scheme: dark) {
    hr {
        background-color: black;
    }
}
