@import "tailwindcss";

:root {
    --foreground: #e7c38d;
    --background: #f5d7e3;
    --ptext: #000000;
    --htext: #000000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--ptext);
    box-shadow: var(--htext) 0px 0px 1px 1px;
    text-decoration: none;
    border-radius: 50px;
    padding: 12px 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--htext);
}
